<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customRange1">Кількість популяцій</label>
                <input type="range" class="custom-range" id="customRange1">
                <hr>
                <pre class="text-success">Число поколінь, яке згенероване алгоритмом: </pre>
            </div>
            <div class="form-group">
                <label for="customRange1">Кількість нащадків</label>
                <input type="range" class="custom-range" id="customRange1">
                <hr>
                <pre class="text-success">Кількість нащадків в кожному поколінні: </pre>
            </div>
            <div class="form-group">
                <label for="customRange1">Ймовірність мутацій</label>
                <input type="range" class="custom-range" id="customRange1">
                <hr>
                <pre class="text-success">Рівень мутації для нащадків: </pre>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Знайти оптимум</button>
        </div>
    </div>
</form>
